rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /teams/{teamId} {
      allow read: if true;
      allow write: if false;
    }

    match /games/{gameId} {
      allow read: if true;
      allow write: if false;
    }

    match /standings/{teamId} {
      allow read: if true;
      allow write: if false;
    }

    match /playoffs/{roundId} {
      allow read: if true;
      allow write: if false;
    }

    match /teamStats/{teamId} {
      allow read: if true;
      allow write: if false;
    }
  }
}